In [1]:
import pandas as pd

In [2]:
path_captions = "D:/YandexDisk/datasets/russian-flickr-30k-images-metadata.csv"
df = pd.read_csv(path_captions, delimiter='|')
df.head(5)

,image_name,comment_number,comment
0,1000092795.jpg,0,Два молодых парня с лохматыми волосами смотрят...
1,1000092795.jpg,1,Два молодых белых самца находятся снаружи возл...
2,1000092795.jpg,2,Двое мужчин в зеленых рубашках стоят во дворе
3,1000092795.jpg,3,"Мужчина в синей рубашке, стоящий в саду"
4,1000092795.jpg,4,"Два друга наслаждаются временем, проведенным в..."

# Проверка чисел

In [3]:
def is_there_number(sentence):
    for i in sentence.split():
        if i.isdigit():
            return True

    return False

In [4]:
counter_num = 0
idxs_num = []

for idx in df.index:
    if is_there_number(df.iat[idx, 2]):
        counter_num += 1
        idxs_num.append(idx)

print("кол-во чисел ... " + str(counter_num))

кол-во чисел ... 12

In [8]:
some_idx = idxs_num[11]
print(some_idx)
df.iat[some_idx, 2]

78177

'Группа людей выступает на сцене'

In [9]:
df.iat[some_idx, 2] = 'Группа людей выступает на сцене'

In [46]:
print(df.iat[3261, 2])
print(df.iat[5824, 2])
print(df.iat[7170, 2])
print(df.iat[9515, 2])
print(df.iat[26518, 2])
print(df.iat[46271, 2])
print(df.iat[64792, 2])
print(df.iat[64793, 2])
print(df.iat[64794, 2])
print(df.iat[73165, 2])
print(df.iat[77492, 2])
print(df.iat[78177, 2])

Группа из трех мужчин и женщин наблюдает, как пожилой мужчина играет на гитаре в парке
Изо всех сил стараюсь не спать на работе
Женщина задувает свечи на своем праздничном торте за обеденным столом
Два человека держат большой перевернутый земной шар
Мужчина держит посох, одетый в этническую одежду
Мужчина моет полы
Пронумерованные участники на финише забега
Участники забега начинают соревнование
Люди участвуют в забеге
Большая группа людей стоит вместе
Женщина показывает своей умственно отсталой дочери фотографию на своем мобильном телефоне
Группа людей выступает на сцене

## Сохранить

In [10]:
df.to_csv("D:/russian-flickr-30k-images-metadata-0.csv", sep='|', encoding='utf-8', index=False)

## Удалить изображения с кавычками

In [11]:
counter_num = 0
idxs_quots = []

for idx in df.index:
    if df.iat[idx, 2].find('"') != -1:
        counter_num += 1
        idxs_quots.append(idx)

print("кол-во кавычек ... " + str(counter_num))

кол-во кавычек ... 196

In [19]:
some_idx = idxs_quots[155]
print(some_idx)
df.iat[some_idx, 2]

64771

'На этой нью-йоркской улице стоит "мерседес"'

In [20]:
df_to_delete = df.loc[idxs_quots, :]
images_to_delete = df_to_delete["image_name"].unique()

In [21]:
df_to_delete.shape

(196, 3)

In [22]:
len(images_to_delete)

170

In [23]:
df.shape

(80715, 3)

In [24]:
df = df[~df.image_name.isin(images_to_delete)]
df.shape

(79865, 3)

## Удалить точки

In [48]:
counter_num = 0
idxs = []

for idx in df.index:
    if df.iat[idx, 2].find('.') != -1:
        counter_num += 1
        idxs.append(idx)

print("кол-во точек ... " + str(counter_num))

кол-во точек ... 0

In [46]:
some_idx = idxs[111]
print(some_idx)
df.iat[some_idx, 2]

30527

'Мужчина, мальчик и собака спускаются к океану.'

In [47]:
for idx in df.index:
    df.iat[idx, 2] = df.iat[idx, 2].replace(".", "")

## Удалить изображения с апострофами

In [50]:
counter_num = 0
idxs = []

for idx in df.index:
    if df.iat[idx, 2].find("'") != -1:
        counter_num += 1
        idxs.append(idx)

print("кол-во апострофов ... " + str(counter_num))

кол-во апострофов ... 18

In [61]:
some_idx = idxs[11]
print(some_idx)
df.iat[some_idx, 2]

30615

"Группа людей стоит ночью на городской улице, на заднем плане-уличные фонари и ресторан mcdonald's"

In [62]:
df.shape

(79865, 3)

In [64]:
df_to_delete = df.loc[idxs, :]
images_to_delete = df_to_delete["image_name"].unique()

In [65]:
df = df[~df.image_name.isin(images_to_delete)]
df.shape

(79810, 3)