In [1]:
import pandas as pd
import json
import requests

In [2]:
dataset_folder_path = "D:/datasets/flickr-30k-images"
df_captions = pd.read_csv(dataset_folder_path + "/_results.csv", delimiter='|')
df_captions.head(10)

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .
5,10002456.jpg,0,Several men in hard hats are operating a gian...
6,10002456.jpg,1,Workers look down from up above on a piece of...
7,10002456.jpg,2,Two men working on a machine wearing hard hats .
8,10002456.jpg,3,Four men on top of a tall structure .
9,10002456.jpg,4,Three men on a large rig .

In [3]:
IAM_TOKEN = "ВАШ ТОКЕН"
BEARER = "Bearer " + IAM_TOKEN
FOLDER_ID = "ВАШ КАТАЛОГ"

HEADERS = {
    "Content-type": "application/json",
    "Authorization": BEARER
}

def translate_with_yandex(text):
    data = {
        "folder_id": FOLDER_ID,
        "texts": text,
        "targetLanguageCode": "ru"
    }

    response = requests.post('https://translate.api.cloud.yandex.net/translate/v2/translate', headers=HEADERS, data=str(data))
    json_text = json.loads(response.text)

    return json_text["translations"][0]["text"]

In [4]:
test = translate_with_yandex("to go away")

In [5]:
test

'чтобы уйти'