In [1]:
import pandas as pd
import json
import requests

## Набор данных

In [47]:
path_dataset = "D:/datasets/flickr-30k-images"
path_captions = "D:/YandexDisk/datasets/flickr-30k-images-metadata.csv"

df_captions = pd.read_csv(path_captions, delimiter='|')
df_captions.head(5)

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

## Количество символов

In [54]:
count_chars = 0

for index, row in df_captions.iterrows():
    count_chars += len(row[2])

print(count_chars)

10361047

## Перевод

In [3]:
IAM_TOKEN = "ВАШ ТОКЕН"
BEARER = "Bearer " + IAM_TOKEN
FOLDER_ID = "ВАШ КАТАЛОГ"

HEADERS = {
    "Content-type": "application/json",
    "Authorization": BEARER
}

def translate_with_yandex(text):
    data = {
        "folder_id": FOLDER_ID,
        "texts": text,
        "targetLanguageCode": "ru"
    }

    response = requests.post('https://translate.api.cloud.yandex.net/translate/v2/translate', headers=HEADERS, data=str(data))
    json_text = json.loads(response.text)

    return json_text["translations"][0]["text"]

In [4]:
test = translate_with_yandex("to go away")

In [5]:
test

'чтобы уйти'